/* Base */
img.rounded-corners {
  border-radius: 30px;
}
.DIV_CORE_TEAM_HEADER {
  height: 100px;
  width: 100%;
}
.CORE_TEAM_HEADER {
  color: hsl(0, 0%, 100%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.CORE_TEAM_HEADER {
  padding: 15px;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 100%) 0,
    hsl(0, 0%, 0%) 10%,
    hsl(0, 0%, 100%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}
.RADHA {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    hsl(0, 0%, 100%) 0,
    hsl(0, 0%, 0%) 10%,
    hsl(0, 0%, 100%) 20%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
