@import url("https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap");

.sentence {
  font-family: "Major Mono Display", monospace;
  padding: 120px;
  line-height: 1.6;
  --animation-delay: 75ms;
  color: white;
}

.typingSpan {
  opacity: 0;
  animation-name: typewriter;
  animation-fill-mode: forwards;
  animation-duration: 0s;
  animation-delay: calc(var(--animation-order) * var(--animation-delay));
}

@keyframes typewriter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
